<link rel="stylesheet" href="/stylesheets/wishlist.css" />

<div class="title">My Wishlist</div>
<div class="items">
  <div class="item">
    <div class="left">
      <i class="bx bx-x"></i>
      <img src="/assets/card-image-5.jpg" alt="" />
      <div>PC Superior Air Z Silver Grey QOW-5859</div>
    </div>
    <div class="right">
      <div class="price">$1200</div>
      <div class="add-to-cart-btn">
        <span>Add to Cart</span>
        <i class="bx bx-cart"></i>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="left">
      <i class="bx bx-x"></i>
      <img src="/assets/card-image-5.jpg" alt="" />
      <div>PC Superior Air Z Silver Grey QOW-5859</div>
    </div>
    <div class="right">
      <div class="price">$1200</div>
      <div class="add-to-cart-btn">
        <span>Add to Cart</span>
        <i class="bx bx-cart"></i>
      </div>
    </div>
  </div>
</div>
