<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Test</title>
</head>
<body>
    <h1>Enter a User</h1>
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Enter username">
    <label for="email">Email</label>
    <input type="text" name="email" placeholder="Enter email">
    <label for="password">Password</label>
    <input type="text" name="password" placeholder="Enter password">
    <div id="users">

    </div>
    <script src="/javascript/api.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>
</html>