<header id="header">
  <div class="logo"><a href="/">Tech Zone</a></div>
  <div class="header-middle">
    <div class="category-section">
      <div>All Categories</div>
      <span>&gt;</span>
    </div>
    <div class="search-section">
      <input type="text" placeholder="Search for Product..." />
      <i class="bx bx-search-alt-2"></i>
    </div>
  </div>
  <div class="header-right">
    <a href="/auth">
      <i class="bx bx-user"></i>
    </a>
    <% if (user) { %>
    <a href="/wishlist">
      <i class="bx bx-heart"></i>
    </a>
    <% } %>
    <a href="/cart" class="cart-icon">
      <% if (cart.length != 0) { %>
      <div class="cart-count"><%= cart.length %></div>
      <% } %>
      <i class="bx bx-cart"></i>
    </a>
    <i id="header-menu" class="bx bx-menu"></i>
  </div>
  <div class="mobile-nav">
    <ul>
      <li>Home</li>
      <li>Products</li>
      <li>About</li>
      <li>Contact Us</li>
    </ul>
  </div>
</header>
