<link rel="stylesheet" href="/stylesheets/contact.css" />

<main class="contact">
  <div class="contact-left">Questions? We got the answers for you!</div>
  <div class="contact-right">
    <form class="contact-form" action="">
      <span>Contact Us</span>
      <label for="Name">Name</label>
      <input type="text" name="Name" id="Name" />
      <label for="Email">Email</label>
      <input type="text" name="Email" id="Email" />
      <label for="Message">Message</label>
      <textarea name="Message" id="Message" cols="20" rows="5"></textarea>
      <button type="submit" id="Submit">Send Message</button>
    </form>
  </div>
</main>
