<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/admin.css">
  </head>
  <body>
    <form action="/admin/signup" method="post">
      <div class="signUp">
        <h1>Create Account</h1>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Name"
          required
        />
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email"
          required
        />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          required
        />
        <button class="signInBtn" id="signUpBtn">Sign Up</button>
      </div>
    </form>
  </body>
</html>
