<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="/stylesheets/admin.css" />
  </head>
  <body>
    <form action="/admin/login" method="post">
        <div class="signIn">
          <h1>Sign In</h1>
          <input type="email" name="email" id="" placeholder="Email" required />
          <input
            type="password"
            name="password"
            id=""
            placeholder="Password"
            required
          />
          <a href="#" class="forgotPassword">Forgot your Password?</a>
          <button type="submit" class="signInBtn">Sign In</button>
        </div>
      </form>
  </body>
</html>
