main.contact {
  display: flex;
  align-items: start;
  justify-content: space-around;
  width: 100vw;
  padding-top: 15px;
  margin-bottom: 15px;
}

.contact-left {
  font-size: clamp(24px, 5vw, 5vw);
  max-width: 35%;
  font-weight: bold;
  color: #2453d4;
  padding-left: 15px;
  text-transform: uppercase;
  font-style: italic;
}

.contact-right {
  width: 55%;
}

form.contact-form {
  background-color: #f3f6fb;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form.contact-form > span {
  font-weight: bold;
  font-size: 1.8em;
}

form.contact-form label {
  font-size: 0.9em;
}

form.contact-form input,
form.contact-form textarea,
select {
  border-radius: 5px;
  border: 1px solid rgba(126, 126, 126, 0.4);
  outline: none;
  padding: 5px 10px;
  font-size: 0.9em;
}

form.contact-form button {
  background-color: #2453d4;
  border-radius: 10px;
  color: white;
  padding: 10px;
  font-size: 1.2em;
  transition: background-color 0.3s;
}

form.contact-form button:hover {
  background-color: #1f44ac;
}

.error {
  border: 1px solid rgba(253, 9, 9, 0.7) !important;
  box-shadow: 0 0 3px rgba(253, 9, 9, 0.7);
}

.error-text {
  color: red;
  font-size: 10px !important;
}

@media screen and (max-width: 768px) {
  main.contact {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .contact-left {
    max-width: 100%;
  }

  .contact-right {
    width: 95%;
  }

  form.contact-form > span {
    font-size: 1.5em;
  }

  form.contact-form button {
    font-size: 1em;
  }
}

@media screen and (max-width: 600px) {
  form.contact-form button {
    padding: 5px;
  }
}
