<footer>
    <span>Tech Zone: Where Innovation Meets Convenience</span>
    <div class="right">
      <div class="legals">
        <span>Privacy Policy</span>
        <span>Cooperation</span>
        <span>Sponsorship</span>
        <span>Contact Us</span>
      </div>
      <div class="socials">
        <span><i class="bx bxl-instagram"></i></span>
        <span><i class="bx bxl-facebook"></i></span>
        <span><i class="bx bxl-twitter"></i></span>
      </div>
      <div class="copyright">
        Copyright &copy; 2024 TechZone All Rights Reserved
      </div>
    </div>
  </footer>