<header id="header">
    <div class="logo">Tech Zone</div>
    <div class="header-middle">
      <div class="category-section">
        <div>All Categories</div>
        <span>&gt;</span>
      </div>
      <div class="search-section">
        <input type="text" placeholder="Search for Product..." />
        <i class="bx bx-search-alt-2"></i>
      </div>
    </div>
    <div class="header-right">
      <i class="bx bx-user"></i>
      <i class="bx bx-heart"></i>
      <i class="bx bx-cart"></i>
      <i id="header-menu" class='bx bx-menu'></i>
    </div>
    <div class="mobile-nav">
      <ul>
        <li>Home</li>
        <li>Products</li>
        <li>About</li>
        <li>Contact Us</li>
      </ul>
    </div>
  </header>