<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/products">Products</a></li>
      <li>About</li>
      <li><a href="/contact-us">Contact Us</a></li>
      <li><a href="/stories">API Stories</a></li>
    </ul>
  </nav>